In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_excel('Costo_receta.xlsx',sheet_name='Detalle of')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119507 entries, 0 to 119506
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   # Orden                   119507 non-null  int64
 1   Fecha de Creación         119507 non-null  datetime64[ns]
 2   Fecha de Vencimiento      119507 non-null  object
 3   Turno                     119507 non-null  int64
 4   Estatus de la Orden       119507 non-null  object
 5   Artículo a Producir       119507 non-null  int64
 6   Descripción del Artículo  119507 non-null  object
 7   Insumo                    119507 non-null  object
 8   Pasteleria                119507 non-null  object
 9   Grupo                     119507 non-null  int64
 10  Almacén                   119507 non-null  object
 11  Descripción Almacén       119507 non-null  object
 12  Cantidad Planificada      119507 non-null  int64
 13  Cantidad Completada       119507 non-null  int64
 14  Productividad             119507 non-null  float64
 15  Insumo.1                  119507 non-null  object
 16  Nombre del Insumo         119507 non-null  object
 17  Cantidad Base             119507 non-null  float64
 18  Cantidad Planificada.1    119507 non-null  float64
 19  Cantidad Entregada        119507 non-null  float64
 20  SobreConsumo              0 non-null       float64
 21  Costo                     119507 non-null  float64
 22  Costo receta  DO          119507 non-null  float64
 23  Costo receta Q            119507 non-null  float64
 24  Mes                       119507 non-null  int64
 25  Planta                    119507 non-null  object
 26  Producido                 119507 non-null  int64
 27  CR DO                     119507 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(8), object(10)
memory usage: 25.5+ MB